extends ../layout.jade
block contenido
	div(class="container")
		div(class="row")
			for imagen in imagenes
				div(class="col-md-4")
					div(class="panel panel-info")
						div(class="panel-heading")
							h3(class="panel-title") #{imagen.title}
						div(class="panel-body")
							img(src="/public/imgs/#{imagen._id}.#{imagen.extension}", class="img-responsive img-rounded show-img")
							if ( typeof imagen.creator != "undefined")
								p(class="text-center") Por #{imagen.creator.email}
	script(src='/public/js/client.js')