.big-top-space {
	margin-top: 90px;
}

.medium-top-space {
	margin-top: 60px;
}

.little-top-space {
	margin-top: 30px;
}

.little-bottom-space {
	margin-bottom: 30px;
}

.btn-right-space {
	margin-right: 10px;
}

.right-space {
	margin-right: 10px;
}

.btn-margin-top {
	margin-top: 21px;
}

.btn-delete-form {
	display: inline-block;
}