extends ./layout.jade
block contenido
	div(class="container big-top-space")
		div(class="row")
			div(class="col-md-12")
				div(class="bs-component")
					div(class="jumbotron")
						div(class="row little-bottom-space")
							div(class="col-xs-4")
								img(src="/public/imgs/logonode.png", class="img-rounded img-responsive")
							div(class="col-xs-8")
								h1 Bienvenidos al curso Node.js
								p
									a(class="btn btn-primary btn-right-space", href="/login") Iniciar sesión
									a(class="btn btn-primary", href="/signup") Registro