doctype html
html(lang="es")
	head
		title FotoFacilito
		meta(charset="utf-8")
		link(href="/public/css/bootstrap.min.css", rel='stylesheet')
		link(href="/public/css/app.css", rel='stylesheet')
		script(src="/socket.io/socket.io.js")
	body
		nav(class="navbar navbar-default")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navegation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="/app") Inicio
				div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						li 
							a(href="/app/imagenes") Mis imágenes
						li 
							a(href="/app/imagenes/new") Nueva imágen
		block contenido